<h1>Viewing Party Lite</h1>

<h2>Top Rated Movies:</h2>


<%= button_to "Discover Page", user_discover_index_path(@user), method: :get %>

<% @movies.each do |movie| %>
    <%= movie.title %>
<% end %>