---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/49051/reviews?api_key=<encrypted_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 2472ba896558a4341dbf3f86f08ffd95705db0dc
      X-Memc-Age:
      - '5147'
      X-Memc-Expires:
      - '11700'
      Etag:
      - W/"9f5d683af3476a529f9b0fd6d3ba5995"
    body:
      encoding: ASCII-8BIT
      string: '{"id":49051,"page":1,"results":[{"author":"Andres Gomez","author_details":{"name":"Andres
        Gomez","username":"tanty","avatar_path":"/https://secure.gravatar.com/avatar/03a53cd53b8254fe582d4fe1acc26c4e.jpg","rating":6.5},"content":"Peter
        Jackson creates the same world that he already shown us in the LOTR, but that''s
        not the only thing he repeats.\r\n\r\nHe also repeats ripping Tolkiens book
        into a sucession of endless races and actions scenes with orcs falling everywhere
        and several \"inventions\" that mess the beautiful story created by the English
        author.\r\n\r\nHe also repeats those several minutes of platform game inside
        caves that we saw in Moria and in his version of King Kong.\r\n\r\nIf you
        loved the previous movies from Jackson, you will love this too.\r\n\r\nIf
        you are looking for some quality, you will only finding in the re-creation
        of the Middle Earth and the peformances of Ian McKellen, Martin Freeman and
        Cate Blanchett.","created_at":"2012-12-17T11:34:24.128Z","id":"50cf0340760ee310f513d014","updated_at":"2021-06-23T15:57:20.448Z","url":"https://www.themoviedb.org/review/50cf0340760ee310f513d014"},{"author":"GeekMasher","author_details":{"name":"","username":"GeekMasher","avatar_path":"/https://secure.gravatar.com/avatar/46a1a92c7411a32e58148c83a9f596d7.jpg","rating":9.0},"content":"An
        other great master peace has been added the the Lord of The Rings collection.
        This movie was an excellent example of how great actors, an amazing story
        and a beautiful world can be produced in such an excellent way. Peter [...]
