---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/90?api_key=<encrypted_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 39b1f1cf6e1f4caa442e4b608ad13425107d156f
      X-Memc-Age:
      - '6148'
      X-Memc-Expires:
      - '9859'
      Etag:
      - W/"45ad5b7f65c18c2b79376259f4e46eb3"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/brJaRHLNWsLNSB8AcYGqO5HyJ1A.jpg","belongs_to_collection":{"id":85861,"name":"Beverly
        Hills Cop Collection","poster_path":"/fjKbHh7GpTARbiLj0RF7zc5iD0G.jpg","backdrop_path":"/kBZNonr5wikmREvdHz3NUioriVC.jpg"},"budget":14000000,"genres":[{"id":28,"name":"Action"},{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"}],"homepage":"https://www.paramount.com/movies/beverly-hills-cop","id":90,"imdb_id":"tt0086960","original_language":"en","original_title":"Beverly
        Hills Cop","overview":"The heat is on in this fast paced action-comedy starring
        Eddie Murphy as Axel Foley, a street smart Detroit cop tracking down his best
        friend''s killer in Beverly Hills. Axel quickly learns that his wild style
        doesn''t fit in with the Beverly Hills Police Department, which assigns two
        officers (Judge Reinhold & John Ashton) to make sure things don''t get out
        of hand. Dragging the stuffy detectives along for the ride, Axel smashes through
        a huge culture clash in his hilarious, high-speed pursuit of justice. Featuring
        cameos by Paul Reiser, Bronson Pinchot and Damon Wayans, Beverly Hills Cop
        is an exhilarating, sidesplitting adventure.","popularity":26.568,"poster_path":"/cCSqo23BEHDcnx7xgFyFqjBykOj.jpg","production_companies":[{"id":4,"logo_path":"/fycMZt242LVjagMByZOLUGbCvv3.png","name":"Paramount","origin_country":"US"},{"id":30,"logo_path":null,"name":"Eddie
        Murphy Productions","origin_country":"US"},{"id":10288,"logo_path":null,"name":"Don
        Simpson/Jerry Bruckheimer Films","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1984-11-30","revenue":316360478,"runtime":105,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"The
        Heat Is On!","title":"Beverly Hills Cop","video":false,"vote_average":7.2,"vote_count":3081}'
  recorded_at: Fri, 04 Feb 2022 17:41:55 GMT
recorded_with: VCR 6.0.0
