<h1>Viewing Party Lite</h1>

<% if current_user  %>
  <%= link_to "Logout", '/logout', method: :delete %>
<% else %>
  <%= link_to 'Create New User', new_user_path %>
  <%= link_to 'Log In', login_path %>
<% end %>


<% if current_user %>
    <h3>Existing Users</h3>
    <% @users.each do |user| %>
        <p><%= "#{user.name} | #{user.email}" %></p>
    <% end %>
<% end %>
