---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/49051?api_key=<encrypted_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - e510acb2656f169e116f00d463b6e31a95d1d3c4
      X-Memc-Age:
      - '1171'
      X-Memc-Expires:
      - '13876'
      Etag:
      - W/"720aa494ec4437364f5885135b426f99"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/gioXMobK8vbD6bcTsjKYKfgacNt.jpg","belongs_to_collection":{"id":121938,"name":"The
        Hobbit Collection","poster_path":"/gwHNIXA6YeYsI9XgX4g1UmLDCxo.jpg","backdrop_path":"/sLy2GcCPrZcMlfaSSvoGeThWXBA.jpg"},"budget":250000000,"genres":[{"id":12,"name":"Adventure"},{"id":14,"name":"Fantasy"},{"id":28,"name":"Action"}],"homepage":"http://www.thehobbit.com/","id":49051,"imdb_id":"tt0903624","original_language":"en","original_title":"The
        Hobbit: An Unexpected Journey","overview":"Bilbo Baggins, a hobbit enjoying
        his quiet life, is swept into an epic quest by Gandalf the Grey and thirteen
        dwarves who seek to reclaim their mountain home from Smaug, the dragon.","popularity":127.533,"poster_path":"/yHA9Fc37VmpUA5UncTxxo3rTGVA.jpg","production_companies":[{"id":174,"logo_path":"/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png","name":"Warner
        Bros. Pictures","origin_country":"US"},{"id":21,"logo_path":"/aOWKh4gkNrfFZ3Ep7n0ckPhoGb5.png","name":"Metro-Goldwyn-Mayer","origin_country":"US"},{"id":12,"logo_path":"/iaYpEp3LQmb8AfAtmTvpqd4149c.png","name":"New
        Line Cinema","origin_country":"US"},{"id":11,"logo_path":"/6FAuASQHybRkZUk08p9PzSs9ezM.png","name":"WingNut
        Films","origin_country":"NZ"}],"production_countries":[{"iso_3166_1":"NZ","name":"New
        Zealand"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"2012-11-26","revenue":1021103568,"runtime":169,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"From
        the smallest beginnings come the greatest legends.","title":"The Hobbit: An
        Unexpected Journey","video":false,"vote_average":7.3,"vote_count":15625}'
  recorded_at: Fri, 04 Feb 2022 17:41:54 GMT
[...]
